body {
	font-family: "Lato", Helvetica, Arial, sans-serif;
}

#container {
	width: 860px !important;
}


div.highcharts-tooltip>span{
	font-size: 15px !important;
	height: auto !important;
	overflow: auto !important;
	white-space: normal !important;
	line-height: 1.2;


}

.highcharts-tooltip {
	width: 180px !important;
	margin: 0 auto !important;
  	text-align: center;
  	z-index: 1000 !important;
}

.highcharts-tooltip .percentage {
	color: #FB0042;
	font-size: x-large;
	font-weight: bold;
}

.highcharts-tooltip .date{
	font-size: large;
}

.highcharts-tooltip .incident{
	color: #999;

}

#arrow{
	display: none;
}

@media(max-width: 500px){

	#container {
		width: 2500px !important;
	}
	#arrow {
	    position: fixed;
	    top: 20px;
	    right: 40px;
		z-index: 10000;
		display: inline;
		opacity: .3;
	}

	#arrow img{
		height: 40px;
		width: 40px;
	}
}
